<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" metadata-complete="true">
    <context-param>
        <param-name>app</param-name>
        <param-value>app.cfx</param-value>
    </context-param>
    <context-param>
        <param-name>log</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>jandcode-core-web</servlet-name>
        <servlet-class>jandcode.core.web.AppServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>jandcode-core-web</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/showerror</location>
    </error-page>
</web-app>